<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>
</head>
<body>
<div>
    <form action="/password-reset" method="post">
        <p th:text="${email}"></p>
        Password: <input type="password" id="myInput" name="newPassword">
        <input type="checkbox" onclick="myFunction('myInput')">Show Password
        <br>
        Confirm password: <input type="password" id="myInput1" name="confirmPassword">
        <input type="checkbox" onclick="myFunction('myInput1')">Show Password
        <input type="hidden" name="email" th:value="${email}">
        <button>Change</button>
    </form>
</div>
<script>
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
</body>
</html>