<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apartments</title>
    <link rel="stylesheet" href="../../static/teaser-html/css/accommodation/accommodation.css">


</head>
<body>
<div class="table-div">
    <button onclick="populateTable({accommodations})">Get Accommodations</button>
    <table>
        <thead>
        <tr>
            <th>Accommodation name</th>
            <th>Company</th>
            <th>Number of flats</th>
            <th>Floors</th>
        </tr>
        </thead>
        <tbody class="table-body">
        </tbody>
    </table>
</div>
<script src="../../static/teaser-html/js/accommodation.js"></script>
</body>
</html>