<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${flat.number} + '\'s flat'"></title>
    <link rel="stylesheet" th:href="@{/teaser-html/css/accommodation/flatDetails.scss}"/>
</head>
<body>
<div class="hero_area">
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="/home">
                    <img th:src="@{/teaser-html/images/logo.png}" alt="" />
                </a>
                <div class="navbar-collapse" id="">
                    <div class="custom_menu-btn">
                        <button onclick="openNav()">
                <span class="s-1">

                </span>
                            <span class="s-2">

                </span>
                            <span class="s-3">

                </span>
                        </button>
                    </div>
                    <div id="myNav" class="overlay">
                        <div class="overlay-content">
                            <a href="/home">HOME</a>
                            <a href="about.html">ABOUT</a>
                            <a href="house.html">HOUSE</a>
                            <a href="price.html">PRICING</a>
                            <a href="contact.html">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="action" style="margin-top: 50px">
        <div class="profile" onclick="menuToggle();">
            <img th:src="@{/teaser-html/css/menu/assets/avatar.jpg}" alt="Avatar"/>
        </div>
        <div class="menu">
            <h3 th:text="${user.name}"></h3>
            <!--            <br />-->
            <p th:text="${role}"></p>
            <ul>
                <li>
                    <img th:src="@{/teaser-html/css/menu/assets/icons/envelope.png}"  alt="inbox"/><a href="/inbox">Inbox</a>
                </li>
                <li>
                    <img id="changePasswordA" th:src="@{/teaser-html/css/menu/assets/icons/settings.png}"  alt="Change password"/><a href="/auth/getPage/changePassword/">
                    Change Password
                </a>
                </li>
                <li>
                    <img th:src="@{/teaser-html/css/menu/assets/icons/log-out.png}"  alt="Logout"/><a th:href="@{index.html}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function menuToggle() {
            const toggleMenu = document.querySelector(".menu");
            toggleMenu.classList.toggle("active");
        }
    </script>

    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 offset-md-1">
                    <div class="detail-box">
                        <h1>
                            <span> Modern</span> <br>
                            Apartment <br>
                            House
                        </h1>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of
                        </p>
                        <div class="btn-box">
                            <a href="" class="">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>
<div>
</div>
</body>
</html>