<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.firstName} + '\'s inbox'"></title>
    <link rel="stylesheet" th:href="@{/teaser-html/css/styles/reset.css}"> <!-- CSS reset -->
    <link rel="stylesheet" th:href="@{/teaser-html/css/modal/style.css}"> <!-- Resource style -->
    <link rel="stylesheet" th:href="@{/teaser-html/css/styles/demo.css}"> <!-- Demo style -->
    <link
            rel="stylesheet"
            th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
            integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
            crossorigin="anonymous"
    />
    <link th:href="@{/teaser-html/css/menu/style.css}" rel="stylesheet" />


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" th:href="@{/teaser-html/css/styles/bootstrap.css}" />

    <!-- fonts style -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/teaser-html/css/styles/style.css}" rel="stylesheet" />
    <!-- responsive style -->
    <link th:href="@{/teaser-html/css/styles/responsive.css}" rel="stylesheet" />
    <style>
        #myTable {
            font-size: 16px;
            background-color: white;
            border-collapse: collapse;
            margin-bottom: 37px;
        }

        #myTable th, td {
            border: 1px solid black;
            padding: 5px;
        }
        #myTable th:hover {
            background: #c7c7c7;
        }
        .outer-div {
            display: flex;
            justify-content: center; /* Horizontally center */
            align-items: center; /* Vertically center */
        }
        /*body {*/
        /*    background-color: lightskyblue;*/
        /*}*/
    </style>
</head>
<body>
<div class="hero_area" style="background-image: none">
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="/home">
                    <img th:src="@{/teaser-html/images/logo.png}" alt="" />
                </a>
                <div class="navbar-collapse" id="" >
                    <div class="custom_menu-btn">
                        <button onclick="openNav()">
                <span class="s-1" style="background-color: dodgerblue">

                </span>
                            <span class="s-2" style="background-color: dodgerblue">

                </span>
                            <span class="s-3" style="background-color: dodgerblue">

                </span>
                        </button>
                    </div>
                    <div id="myNav" class="overlay">
                        <div class="overlay-content">
                            <a href="/home">HOME</a>
                            <a href="/apartment/getAll">APARTMENTS</a>
                            <a href="/flat/getAll">FLATS</a>
                            <a href="/company/getAll">COMPANIES</a>
                            <a th:if="${role == 'Super admin'}" href="/user/getAll">USERS</a>
                            <a href="about.html">ABOUT</a>
                            <a href="contact.html">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="action" style="margin-top: 50px">
        <div class="profile" onclick="menuToggle();" style="box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">
            <img th:src="@{/teaser-html/css/menu/assets/avatar.jpg}" alt="Avatar"/>
        </div>
        <div class="menu" style="box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">
            <h3 th:text="${user.firstName}"></h3>
            <!--            <br />-->
            <p th:text="${role}"></p>
            <ul>
                <li>
                    <img th:src="@{/teaser-html/css/menu/assets/avatar.jpg}" alt="Avatar"/><a href="/my-profile">My profile</a>
                </li>
                <li>
                    <img th:src="@{/teaser-html/css/menu/assets/icons/envelope.png}"  alt="inbox"/><a href="/inbox">Inbox</a>
                </li>
                <li>
                    <img id="changePasswordA" th:src="@{/teaser-html/css/menu/assets/icons/settings.png}"  alt="Change password"/><a href="/auth/getPage/changePassword/">
                    Change Password
                </a>
                </li>
                <li>
                    <img th:src="@{/teaser-html/css/menu/assets/icons/log-out.png}"  alt="Logout"/><a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function menuToggle() {
            const toggleMenu = document.querySelector(".menu");
            toggleMenu.classList.toggle("active");
        }
    </script>

    <!-- end header section -->
</div>
<div class="outer-div">
    <p th:if="${inboxes.isEmpty()}" style="text-align: center;font-size: 16px">Your inbox is empty</p>
    <table th:if="${!inboxes.isEmpty()}" id="myTable">
        <thead>
        <tr>
            <th onclick="sortTableAl(0)">Message</th>
            <th onclick="sortTableAl(1)">Type</th>
            <th onclick="sortTableAl(2)">From whom</th>
            <th onclick="sortTableAl(3)">To</th>
            <th onclick="sortTableAl(4)">State</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="inbox: ${inboxes}">
            <td th:text="${inbox.message}"></td>
            <td th:text="${inbox.type}"></td>
            <td><a th:text="${inbox.fromWhom.firstName}" th:href="'/user/' + ${inbox.fromWhom.id}"></a></td>
            <td th:text="${inbox.toWhom.firstName}"></td>
            <td th:text="${inbox.state}"></td>
            <td><a th:href="'/inbox/' + ${inbox.id}">View</a></td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    let ascendingOrder = true; // Flag to track sorting order

    function sortTable(columnIndex) {
        // if (columnIndex === 0 || columnIndex === 1) { // Check if it's the "Number" column (0-based index)
        const table = document.getElementById("myTable");
        const tbody = table.querySelector("tbody");
        const rows = Array.from(tbody.getElementsByTagName("tr"));

        rows.sort((a, b) => {
            const aValue = parseInt(a.getElementsByTagName("td")[columnIndex].textContent);
            const bValue = parseInt(b.getElementsByTagName("td")[columnIndex].textContent);

            if (ascendingOrder) {
                return aValue - bValue;
            } else {
                return bValue - aValue;
            }
        });

        // Toggle the sorting order flag
        ascendingOrder = !ascendingOrder;

        // Remove existing rows from the tbody
        rows.forEach(row => tbody.removeChild(row));

        // Append the sorted rows back to the tbody
        rows.forEach(row => tbody.appendChild(row));
        // }
    }
    function sortTableAl(n) {
        let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir === "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir === "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount === 0 && dir === "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
<script type="text/javascript" th:src="@{/teaser-html/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/teaser-html/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/teaser-html/js/custom.js}"></script>
</body>
</html>