<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <link rel="stylesheet" th:href="@{/teaser-html/css/changePassword.css}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="mainDiv">
  <div class="cardStyle">
    <form action="/auth/changePassword" method="post" id="signupForm">

      <h2 class="formTitle">
        Change Password
      </h2>
    <div class="inputDiv">
      <label class="inputLabel" for="password">New Password</label>
      <input type="password" id="password" name="newPassword" required>
    </div>
      
    <div class="inputDiv">
      <label class="inputLabel" for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword">
    </div>
    
    <div class="buttonWrapper">
      <button type="submit" class="submitButton pure-button pure-button-primary">
        <span>Continue</span>
      </button>
    </div>
      
  </form>
  </div>
</div>
<!-- partial -->
  <script  th:src="@{/teaser-html/js/changePassword.js}"></script>

</body>
</html>
