<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/teaser-html/css/styles/reset.css}"> <!-- CSS reset -->
    <link rel="stylesheet" th:href="@{/teaser-html/css/modal/style.css}"> <!-- Resource style -->
    <link rel="stylesheet" th:href="@{/teaser-html/css/styles/demo.css}"> <!-- Demo style -->


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" th:href="@{/teaser-html/css/styles/bootstrap.css}" />

    <!-- fonts style -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/teaser-html/css/styles/style.css}" rel="stylesheet" />
    <!-- responsive style -->
    <link th:href="@{/teaser-html/css/styles/responsive.css}" rel="stylesheet" />
</head>
<body>
<div class="cd-signin-modal__container">
    <div class="cd-signin-modal__block js-signin-modal-block" data-type="login" style="display: block;text-align: center"> <!-- log in form -->
        <h2 style="">Login</h2>
        <form class="cd-signin-modal__form" action="/auth/login" method="post">
            <p class="cd-signin-modal__fieldset">
                <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signin-email">E-mail</label>
                <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-email" type="email" placeholder="E-mail" name="email" >
                <span class="cd-signin-modal__error">Error message here!</span>
            </p>

            <p class="cd-signin-modal__fieldset">
                <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace" for="signin-password">Password</label>
                <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-password" type="password"  placeholder="Password" name="password" >
                <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Show</a>
                <span class="cd-signin-modal__error">Error message here!</span>
            </p>

            <p class="cd-signin-modal__fieldset">
                <input type="checkbox" id="remember-me" checked class="cd-signin-modal__input ">
                <label for="remember-me">Remember me</label>
            </p>

            <p class="cd-signin-modal__fieldset">
                <input class="cd-signin-modal__input cd-signin-modal__input--full-width" type="submit" value="Login">
            </p>
        </form>

        <p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="reset" style="color: black">Forgot your password?</a></p>
    </div> <!-- cd-signin-modal__block -->
</div>
</body>
</html>