<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>My profile</title>

    <link rel="stylesheet" th:href="@{/teaser-html/css/styles/reset.css}"> <!-- CSS reset -->
    <link rel="stylesheet" th:href="@{/teaser-html/css/modal/style.css}"> <!-- Resource style -->
    <link rel="stylesheet" th:href="@{/teaser-html/css/styles/demo.css}"> <!-- Demo style -->
    <link
            rel="stylesheet"
            th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
            integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
            crossorigin="anonymous"
    />
    <link th:href="@{/teaser-html/css/menu/style.css}" rel="stylesheet" />


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" th:href="@{/teaser-html/css/styles/bootstrap.css}" />

    <!-- fonts style -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/teaser-html/css/styles/style.css}" rel="stylesheet" />
    <!-- responsive style -->
    <link th:href="@{/teaser-html/css/styles/responsive.css}" rel="stylesheet" />
    <style>
        #details-div {
            padding: 40px;
            width: 450px;
            background-color: white;
            border: 5px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            border-radius: 15px;
        }
        .outer-div {
            display: flex;
            justify-content: center; /* Horizontally center */
            align-items: center; /* Vertically center */
        }
    </style>
</head>
<body>
<div class="hero_area" style="background-image: none">
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="/home">
                    <img th:src="@{/teaser-html/images/logo.png}" alt="" />
                </a>
                <div class="navbar-collapse" id="">
                    <div class="custom_menu-btn">
                        <button onclick="openNav()">
                <span class="s-1" style="background-color: dodgerblue">

                </span>
                            <span class="s-2" style="background-color: dodgerblue">

                </span>
                            <span class="s-3" style="background-color: dodgerblue">

                </span>
                        </button>
                    </div>
                    <div id="myNav" class="overlay">
                        <div class="overlay-content">
                            <a href="/home">HOME</a>
                            <a href="/apartment/getAll">APARTMENTS</a>
                            <a href="/flat/getAll">FLATS</a>
                            <a href="/company/getAll">COMPANIES</a>
                            <a th:if="${role == 'Super admin'}" href="/user/getAll">USERS</a>
                            <a href="about.html">ABOUT</a>
                            <a href="contact.html">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="action" style="margin-top: 50px">
        <div class="profile" onclick="menuToggle();" style="box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">
            <img th:src="@{/teaser-html/css/menu/assets/avatar.jpg}" alt="Avatar"/>
        </div>
        <div class="menu" style="box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">
            <h3 th:text="${user.firstName}"></h3>
            <!--            <br />-->
            <p th:text="${role}"></p>
            <ul>
                <li>
                    <img th:src="@{/teaser-html/css/menu/assets/avatar.jpg}" alt="Avatar"/><a href="/my-profile">My profile</a>
                </li>
                <li>
                    <img th:src="@{/teaser-html/css/menu/assets/icons/envelope.png}"  alt="inbox"/><a href="/inbox">Inbox</a>
                </li>
                <li>
                    <img id="changePasswordA" th:src="@{/teaser-html/css/menu/assets/icons/settings.png}"  alt="Change password"/><a href="/auth/getPage/changePassword/">
                    Change Password
                </a>
                </li>
                <li>
                    <img th:src="@{/teaser-html/css/menu/assets/icons/log-out.png}"  alt="Logout"/><a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function menuToggle() {
            const toggleMenu = document.querySelector(".menu");
            toggleMenu.classList.toggle("active");
        }
    </script>
</div>
<div class="outer-div">
    <div id="details-div">
        <h1>My profile</h1>
        <div>
            <h4 th:text="'First name: ' + ${user.firstName}"></h4>
            <h4 th:text="'Last name: ' + ${user.lastName}"></h4>
            <h4 th:text="'Email: ' + ${user.email}"></h4>
            <h4 th:text="'Login attempts: ' + ${user.attempts}"></h4>
            <h4 th:text="'State: ' + ${user.state}"></h4>
            <h4 th:text="'Role: ' + ${role}"></h4>
            <a href="/edit-profile">Edit profile</a>
            <a href="/auth/getPage/changePassword">Change password</a>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/teaser-html/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/teaser-html/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/teaser-html/js/custom.js}"></script>
</body>
</html>