<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Session expired</title>
    <link rel="stylesheet" th:href="@{/teaser-html/css/styles/reset.css}"> <!-- CSS reset -->
    <link rel="stylesheet" th:href="@{/teaser-html/css/modal/style.css}"> <!-- Resource style -->
    <link rel="stylesheet" th:href="@{/teaser-html/css/styles/demo.css}"> <!-- Demo style -->


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" th:href="@{/teaser-html/css/styles/bootstrap.css}" />

    <!-- fonts style -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/teaser-html/css/styles/style.css}" rel="stylesheet" />
    <!-- responsive style -->
    <link th:href="@{/teaser-html/css/styles/responsive.css}" rel="stylesheet" />
</head>
<body>
Session expired
<br>
<a href="/log">Login again</a>
</body>
</html>