<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Verification Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css}">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css'><link rel="stylesheet" th:href="@{/teaser-html/css/verification/style.css}">

</head>
<body>
<!-- partial:index.partial.html -->
<button type="button" class="theme"> LIGHT </button>
<form class="verification" action="/auth/verify" method="post">
  <section class="verification__wrap">
    <header class="verification__header">
      <h2 class="verification__title">Verification Code</h2>
      <p class="verification__description">
        we was send 4 length verification code, enter it on blow entery
      </p>
    </header>

    <section class="verification__fields">
      <fieldset class="verification__field">
        <legend>
          <!-- HINT : write something here for more accesability  -->
        </legend>

        <input type="text" class="verification__input verification__input--1" name="code" placeholder="Code" maxlength="4" />
        <input type="hidden" name="userId" th:value="${userId}"/>
      </fieldset>
    </section>

    <section class="verification__verify">
      <p>
        <button type="submit" class="verification__verify_btn">VERIFY</button>
      </p>
    </section>

  </section>
</form>

<!-- follow                        -->
<!-- instagram      : @mikoloism   -->
<!-- github/codepen : @miko-github -->
<!-- partial -->
<script th:src="@{https://codepen.io/miko-github/pen/xxmOpXb.js}"></script><script  th:src="@{/teaser-html/js/script.js}"></script>

</body>
</html>
