<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>
<form action="/saveCard" method="post">
    <label>
  <input type="text" name="number" placeholder="number">
  <input type="text" name="holderName" placeholder="holder">
  <input type="text" name="expiredDate" placeholder="expiredDate">
  <input type="password" name="pinCode" placeholder="pin">
  <input type="text" name="type" placeholder="type">
  <button>Confirm</button>
    </label>
</form>
</body>
</html>